.cardWrapper {
  width: 330px !important;
  height: 52px;
}
.card {
  width: inherit;
  height: inherit;

  &.card-0 {
    border-left: 5px solid var(--bs-info);
  }
  &.card-1 {
    border-left: 5px solid var(--bs-success);
  }
  &.card-2 {
    border-left: 5px solid var(--bs-danger);
  }
  .person {
    margin-right: 14px;
  }
}
