:root {
  --form-top-ratio: 0.2;
}

.formContainer {
  margin-top: calc(var(--form-top-ratio) * 100vh);
  .login {
    width: 400px;

    h3 {
      font-size: 24px;
      color: #212529;
      padding-bottom: 24px;
    }

    .errorMessage {
      font-size: 14px;
    }
  }
}
