.footer {
  height: 64px;
  box-shadow: 6px -2px 12px 0px rgba(0, 0, 0, 0.25);
  position: sticky;
  bottom: 0;

  .footerRow {
    display: contents;

    .backButtton {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      width: 200px;

      span {
        flex-grow: 1;
      }
    }

    .backButtton:hover {
      background-color: initial;
      color: initial;
      text-decoration: initial;
    }

    .registerButton,
    .deleteButton {
      height: 40px;
      width: 110px;
    }
  }
}
