.sidebarContainer {
  flex: 0 0 auto;
  .sidebar {
    transition: width 0.2s;
    width: inherit;
    overflow-x: hidden;
    will-change: width;
    background-color: #f8f9fa;
  }
}

.sideBarClosed {
  width: 50px;
  a {
    text-overflow: clip;
    border-radius: 4px !important;
    margin-right: 8px;
    background-color: inherit;
  }
}

.sideBarOpened {
  width: 200px;
  margin: 0;
  a {
    width: 184px;
    height: 40px;
    background-color: inherit;
    border: 0;
    transition: background-color 0.5s;
    border-radius: 4px !important;
  }
}

a:hover {
  background-color: #3d454d;
  border-radius: 4px;
  color: #fff !important;
}
